// Colors
:root {
  --purple: #5a00ea;
  --pink: #d95ecd;
  --blue: #597aef;
  --yellow: #ffb82c;
  --light: #e6e6e6;
  --white: #fff;
  --medium: #7c7c7c;
  --dark: #505050;
  --darkpurple: #6757ac;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--light);
  max-width: 910px;
  margin: 1rem auto;
}

// LOOP FOR GENERATE MARGINS top and bottoms
@for $i from 1 through 10 {
  .mt-#{$i} {
    margin-top: (5 * $i) + px;
  }

  .mb-#{$i} {
    margin-bottom: (5 * $i) + px;
  }

  .mr-#{$i} {
    margin-right: (5 * $i) + px;
  }

  .ml-#{$i} {
    margin-left: (5 * $i) + px;
  }
}
