.widget-cities {
  .widget-card {
    border-radius: 2rem;
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    margin-bottom: 1rem;

    @media (min-width: 440px) {
      height: 250px;
      width: 200px;
    }
    .widget-card-image {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: -1;

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        z-index: -1;
      }
    }

    .widget-card-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 90%;
      padding: 1rem 1rem 0rem 1rem;
      .widget-city-name {
        text-align: right;
        color: var(--white);
      }

      .visit-button {
        color: var(--white);
        text-decoration: none;
        text-align: center;
        background-color: var(--purple);
        padding: 0.5rem;
        border-radius: 2rem;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 10px;
      }
    }
  }
}
